# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../kafka-test\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\004463\IdeaProjects\kafka-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
